---
// src/pages/documentos.astro
import { supabase } from '../lib/supabaseClient';

const { data: documentos, error } = await supabase
  .from('documentos')
  .select('*');

  console.log(documentos, error);
---

<ul>
  {documentos?.map((doc) => (
    <li>
      <h3>{doc.titulo}</h3>
      <div set:html={doc.contenido} />
    </li>
  ))}
</ul>