---
import Layout from '../layouts/Layout.astro';
import TiptapEditor from "../components/TiptapEditor.jsx";

---

<Layout>

    <div style="max-width: 800px; margin: 0 auto;">
      <TiptapEditor client:only="react" />
    </div>
</Layout>
